<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dog Lovers App</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- Bootstrap CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- css for navbar and standard body-->
        <link rel="stylesheet" href="styles/styleforgotpassword.css">

        <!-- Vue 3 -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>

        <div id="app">
            <div class="container-fluid h-100">
                <div class="row h-100 d-flex">

                    <div class="white-box">
                        <div style="text-align:center; "> 
                            <a href="index.html"><img src="images/nav/PawHubLogo.png" alt="PawHub Logo" class="logo"></a>
                        </div>

                        <h1 style="color:black;">Forgot Password?</h1>
                        <p>Enter email address to receive reset password link</p>

                        <form @submit.prevent="sendPasswordReset">
                            <div class="input-form">
                                <label for="email" class="form-label mb-0">Email</label>
                                <input type="email" class="form-control" style="height: 50px;" v-model="email" placeholder="example@gmail.com" required>
                            </div>
                                
                            <button type="submit" class="btn btn-primary w-100 mb-2">Send Verification Code</button>

                            <div v-if="message" class="message-box">
                                {{message}}
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    <script type="module">
        import { app } from "./firebase.js";
        import { getAuth, sendPasswordResetEmail } from "https://www.gstatic.com/firebasejs/10.12.3/firebase-auth.js";

        // Initialize Firebase
        const auth = getAuth(app); // Initialize Firebase Auth

        //Vue app
        const vueApp = Vue.createApp({ 
            data() { 
                return { 
                      email: '',
                      message: '',
                };
            }, 
            methods: {
                sendPasswordReset() {
                    if (!this.email) {
                    alert("Please enter your email address.");
                    return;
                    }

                    sendPasswordResetEmail(auth, this.email)
                    .then(() => {
                        // Update message to show success
                        this.message =  'We have sent reset password link to your email!';
                    })
                    .catch((error) => {
                        console.error("Error sending reset email: ", error);
                        alert('Failed to send reset email. ' + error.message);
                    });
                },
            } 
        });
        const vm = vueApp.mount('#app'); 
    </script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    </body>

</html>