html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f9f1e7;
  font-family: "Poppins Regular";
  color: #695c5c;
}

.white-box{
    border-radius: 30px;
    background-color: #C4E1EC;
    width: 440px;
    height: 480px;
    margin: auto;
    padding: 30px;
    margin-top: 30px;
    border: 5px solid #59524A;

}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Overlock";
}

p {
    text-align: center;
    font-family: "Overlock";
    margin-bottom: 30px;
    /* color:  #695c5c; */
}

.btn {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 3px 3px rgb(100, 129, 227);
  margin-top: 20px;
}

.message-box {
    background-color: #A4C18B;
    /* background-color: #5ab96c; */
    border: 1px solid #484040;;
    padding: 5px;
    color: #484040;
    font-size: 12px;
    text-align: center;
    width: 350px;
    margin:auto;
    margin-top: 20px;
}



@font-face {
  font-family: "Overlock";
  src: url("../fonts/OverlockSC-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}